<meta http-equiv="Content-Type" content="text/html; charset=utf-8">You have been included on a proposal for experimental time at the ESS by <b>#{piPreferredname} #{piLastname}</b><p></p><p>As the Principal Investigator on an ESS proposal you have specific responsibilities for the experiment. 
<br>
You can read about these responsibilities here: ESS_TERMS_OF_ACCESS_URL.
<br>
If you do not agree with these terms and conditions please contact ESS.<p></p><br>The proposal details are as follows:<br><br>
  <b>Proposal title: </b>#{proposalTitle}<br>
  <b>Proposal Reference No: </b>#{proposalNumber}<br>
  <b>Principal Investigator(*):</b> #{piPreferredname} #{piLastname}<br>

<br><br>You or any of the experimenters listed above may view or edit (depending on permissions) this proposal 
<br><br>The Online Proposal System can be found here: ESS_URL
<br><br>If you wish to withdraw your involvement in Proposals at the ESS and you wish your name to be removed from the database, please contact Andrew.kaye@stfc.ac.uk 
<br><br>(*) Denotes the person that ESS will contact regarding this proposal 
<br><br>By submitting this proposal the submitter has agreed to the terms at: https://www.clf.stfc.ac.uk/Pages/Terms-and-Conditions-of-Access-to-the-CLF.aspx. 
<br><br><b>Please do not reply to this e-mail, this is an automated message.</b>
